@model IEnumerable<TgpBudget.Models.ApplicationUser>

@{
    ViewBag.Title = "List Members";
}

<h2>Household Members</h2>
@*<h4>Household Members</h4>*@
<hr />

<div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Persons who can use these accounts</h4>
                            <p class="category"></p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Name</th>
                                    <th>Emai</th>
                                    <th>Phone Number</th>
                                </tr>

                                <tbody>

                                    @for (var k = 0; k < Model.Count(); k++)
                                    {
                                        <tr>
                                            <td>
                                                @Model.ElementAt(k).DisplayName
                                            </td>


                                            <td>
                                                @Model.ElementAt(k).Email
                                            </td>

                                            <td>
                                                @Model.ElementAt(k).PhoneNumber
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Return to Household", "Index","Households")
</p>
