@{
    ViewBag.Title = "Welcome to TGP Budget App";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This is a basic household, financial tool.  It allows users to record transactions from various financial accounts into multiple categories.</p>
