@{
    ViewBag.Title = "Dashboard";
}

<div class="row">

    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Email Statistics</h4>
                <p class="category">Last Campaign Performance</p>
            </div>
            <div class="content">
                <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Bounce
                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card ">
            <div class="header">
                <div class="row">
                    <div class="col-sm-4" style="display:inline">
                        <h4>Income/Expense</h4>
                    </div>

                    <div class="col-sm-8" style="display:inline; margin:30px 0 0px">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="radio-inline btn btn-primary ">
                                <input type="radio" id="fourMonthsBtn" name="period" value="currentMonth" />4 mo's
                            </label>
                            <label class="radio-inline btn btn-primary ">
                                <input type="radio" id="fourQuartersBtn" name="period" value="priorMonth" />4 Qtrs
                            </label>
                            <label class="radio-inline btn btn-primary ">
                                <input type="radio" id="twelveMonthsBtn" name="period" value="last30Days" />12 mo's
                            </label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div id="chartActivity" class="ct-chart"></div>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i>Series1
                        <i class="fa fa-circle text-danger"></i>Series2
                    </div>

                </div>
            </div>
        </div>

        @*<div id="divPartialGraphs">
                Select Year :
                <select id="ddlyear">
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option selected="selected">2015</option>
                </select>
                <button id="btnCreatePieChart">Create Pie chart</button>
                <div class="ct-chart ct-golden-section"></div>
                <div class="ct-chart ct-perfect-fourth">

                </div>
            </div>*@
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div id="divPartialBankAccts">
                @Html.Action("_Index", "BankAccts")
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="row">
                <div class="col-sm-4" style="display:inline">
                    <h4>Actual/Budget</h4>
                </div>

                <div class="col-sm-8" style="display:inline; margin:30px 0 0px">

                    <div class="btn-group" data-toggle="buttons">

                        <label class="radio-inline btn btn-primary ">
                            <input type="radio" id="currentMonthBtn" name="period" value="currentMonth" />Cur Mon
                        </label>
                        <label class="radio-inline btn btn-primary ">
                            <input type="radio" id="priorMonthBtn" name="period" value="priorMonth" />Prior
                        </label>

                        <label class="radio-inline btn btn-primary ">
                            <input type="radio" id="last30DaysBtn" name="period" value="last30Days" />30 Days
                        </label>

                        <label class="radio-inline btn btn-primary ">
                            <input type="radio" id="avg90DaysBtn" name="period" value="avg90Days" />90d Avg
                        </label>

                    </div>
                </div>
            </div>
            <div id="divPartialCategories">
                @Html.Action("_Index", "Categories")
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col=sm-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div id="divPartialDeals">
                @Html.Action("_Index", "Deals")
            </div>
        </div>
    </div>
    <div class="col=sm-2"></div>
</div>

@section scripts{
    <script>


        $(document).ready(function () {

            demo.initChartist();

            $.notify({
                icon: 'pe-7s-gift',
                message: "Welcome to <b>TGP Budget</b> - a budgetting App for households."

            }, {
                type: 'info',
                timer: 1000
            });

        });




        //$(document).ready(function () {
        // $('.table').DataTable();
        //});
        var categoryId = 0;
        $('#delCategoryModal').on('shown.bs.modal', function (e) {
            var j = $(e.relatedTarget).data('id');
            console.log(' categoryId j: ' + j);
            categoryId = j;
            $('.modal-backdrop').removeClass('modal-backdrop');
            $('#modal-id').val(categoryId);
        });

        $('body').on('change', '#currentMonthBtn', function (e) {

            //$("[name=period]").removeAttr("checked");
            //$('#currentMonthBtn').prop("checked", true);
            $('#divPartialCategories').load('/Categories/_Index?period=currentMonth');
        });
        $('body').on('change', '#priorMonthBtn', function (e) {

            //$("[name=period]").removeAttr("checked");
            //$('#priorMonthBtn').prop("checked", true);

            $('#divPartialCategories').load('/Categories/_Index?period=priorMonth');
        });
        $('body').on('change', '#last30DaysBtn', function (e) {
            //$("[name=period]").removeAttr("checked");
            //$('#last30DaysBtn').prop("checked", true);
            $('#divPartialCategories').load('/Categories/_Index?period=last30Days');
        });
        $('body').on('change', '#avg90DaysBtn', function (e) {
            //$("[name=period]").removeAttr("checked");
            //$('#avg90DaysBtn').prop("checked", true);
            $('#divPartialCategories').load('/Categories/_Index?period=avg90Days');
        });


        //var presetValue = "currentMonth";
        //$("[name=period]").filter("[value='" + presetValue + "']").prop("checked", true);

    </script>
}
