@{
    ViewBag.Title = "Welcome to TGP Budget!";
}

<div class="row">
    <div class="col-md-6">
        <div class="card" style="padding-left:12px">
            <h2>@ViewBag.Title</h2>
            <h4>Household Budgeting Application </h4>
            <p>
                <ul>
                    <li>Easily record your income and expenses.</li>
                    <li>Use categories to see where your money is going</li>
                    <li>Record a budget</li>
                    <li>Stay on track by comparing actual spending to budget amounts</li>
                </ul>

            </p>
            <br />
            <p>Please register and login to get started.</p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <img src="~/img/HouseholdBudget.jpg" width="500" style="align-content:center" />

        </div>
    </div>
</div>
<div class=row>
    <div class="col-md-6">
        <div class="card">
            <img src="~/img/Spending.jpg" width="500" style="align-content:center" />>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img src="~/img/Budget-Life-Know-Your-Budget.jpg" width="500" style="align-content:center" />
        </div>
    </div>

</div>

