@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Welcome!</h2>
        <p>
            Some bumpf about the App and invitation to login or try the demo (which is <b><u>not</u></b> implemented yet)
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Household Details</h2>
        <p>Review and edit information about your household.</p>
        <p><a class="btn btn-default" href=@Url.Action("Edit", "Households")>Edit &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Household Members</h2>
        <p>See who belongs to your household.</p>
        <p><a class="btn btn-default" href=@Url.Action("ListMembers", "Households")>List &raquo;</a></p>
    </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>Invitation</h2>
        <p>Invite someone new to Join your household.</p>
        <p><a class="btn btn-default" href=@Url.Action("Create", "Invitations")>Invite &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leave</h2>
        <p>Unsubscribe from this household.</p>
        <p><a class="btn btn-default" href=@Url.Action("Leave", "Households")>Leave &raquo;</a></p>
    </div>
</div>
